* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

#page {
  width: 1120px;
  margin: auto;
}

.headline {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold; /* a fonte fica em negrito */
  color: #e1624f;
  text-transform: uppercase;
  margin-top: 88px;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
}

.description {
  color: #333;
  text-align: center;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  height: 37px;
  align-self: stretch;
}

.destinations {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 64px;
  align-self: stretch;
}

h2 {
  ont-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

span {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

ul {
  font-size: 16px;
  margin-left: 30px;
}
ul li {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #0c51a7;
}
footer {
  text-align: center;
  padding-top: 65px;
  padding-bottom: 48px;
}

footer img {
  vertical-align: middle;
  color: black;
}
